@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

html * {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: var(--text-md);
  font-weight: var(--normal);
  line-height: var(--default);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  width: 100%;
  object-fit: scale-down;
}

h1,
h2 {
  font-weight: var(--bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--semibold);
  line-height: var(--dense);
}
strong{
  font-weight: var(--semibold);
}
a,
button{
  color: var(--link);
  text-decoration: none;
  cursor:pointer;

  svg:not(.no-fill) {
    fill: var(--link);
  }
  &:hover {
    color: var(--link-hover);
    svg:not(.no-fill) {
      // fill: var(--link-hover);
    }
  }

  &.active {
    font-weight: var(--semibold);
  }
}

.text-link {
  position: relative;
  padding-bottom: 3px;
  cursor:pointer;
  svg {
    fill: var(--link);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }

  &:hover {
    color: var(--link-hover);
    svg {
      fill: var(--link-hover);
    }
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
      border-bottom: none;
      background-color: var(--link-hover);
    }
  }
}
input[type="submit"],
.btn ,.button{
  color: var(--link);
  background-color: transparent;
  border: 2px solid var(--link);
  transition: color 0.3s ease, border-color 0.3s ease;
  svg:not(.no-fill) {
    fill: var(--link);
  }
  &:hover {
    border-color: var(--link-hover);
    color: var(--link-hover);
    svg:not(.no-fill) {
      fill: var(--link-hover);
    }
  }
}

.button-fill {
  background-color: var(--black);
  color: var(--white);

  &:hover {
    background-color: var(--blue);
  }
}

tt,
code,
kbd {
  background: var(--primary);
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

tt,
code,
kbd {
  font-family: var(--font-monospace);
  font-size: 90%;
}

tt,
code {
  background-color: var(--background);
  border-radius: var(--radius-sm);
  font-weight: var(--medium);
  padding: 0.2em 0;
}

code:before,
code:after,
tt:before,
tt:after {
  content: " ";
  letter-spacing: -0.2em;
}

pre,
code {
  font-family: var(--font-monospace);
}

.text-border {
  color: var(--black);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.2rem;
  -webkit-text-stroke-color: var(--black);
  font-weight: var(--bold);
}
.text-border-small {
  color: var(--black);
  -webkit-text-fill-color: var(--black);
  -webkit-text-stroke-color: var(--black);
  font-weight: var(--bold);
  -webkit-text-stroke-width: 0.1rem;
}
.bg-primary-background {
  background: var(--primary-background);
}
.bg-primary {
  background: var(--primary);
}
.bg-transparent {
  background: transparent;
}
.btn-blue-hover:hover {
  background: transparent;
  border-color: var(--grey);
  background: var(--primary);
}
.not-found-text {
  @media (min-width: var(--xs-mq)) {
    font-size: 12rem;
  }
}
.h-screen {
  max-height: 800px;
  min-height: 00px;
}

.min-h-screen-90 {
  min-height: 90vh;
}

nav a, footer a {
  all: unset; 
  color: inherit; 
  text-decoration: none; 
}

ul:not(header ul):not(ul.flex):not(footer ul):not(#timeline):not(#timeline ul):not(nav ul) {
  margin: 0;
  list-style-type: none;

  > li {
    text-indent: 0px;

    &:before {
      content: "-";
      text-indent: 0px;
      margin-right: 10px;
    }
  }
}



svg.fill-grey {
  fill: var(--grey) !important;
  &:hover {
    fill: var(--link-hover) !important;
  }
}
hr {
  border-color: var(--grey-light);
}
