@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/alic.var.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Bold";
  src: url("/fonts/alic.var.woff2?v=3.19") format("woff2");
}

html {
  scroll-behavior: smooth;
}

html * {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: var(--body);
  line-height: var(--default);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  width: 100%;
  max-height: 80vh;
  object-fit: scale-down;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--semibold);
  line-height: var(--dense);
}

a {
  color: currentColor;
  text-decoration: none;
}
a:hover {
  color: var(--secondary);
}
a.active {
  font-weight: var(--bold);
}

ul li {
  a {
    color: var(--grey);
    text-decoration: none;
    padding-bottom: 5px;
  }

  a:hover {
    color: var(--secondary);
    box-shadow: inset 0 -2px 0 0 var(--secondary);
  }

  a.active {
    color: var(--black);
    font-weight: var(--bold);
    box-shadow: inset 0 -2px 0 0 var(--black);
  }
  svg {
    fill: var(--black);
    &:hover {
      fill: var(--secondary);
    }
  }
}

tt,
code,
kbd {
  background: var(--primary);
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

tt,
code,
kbd {
  font-family: var(--font-monospace);
  font-size: 90%;
}

tt,
code {
  background-color: var(--primary);
  border-radius: var(--radius-sm);
  font-weight: var(--medium);
  padding: 0.2em 0;
}

code:before,
code:after,
tt:before,
tt:after {
  content: " ";
  letter-spacing: -0.2em;
}

pre,
code {
  font-family: var(--font-monospace);
}

.text-border {
  color: var(--black);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black);
}
.text-black {
  color: var(--black);
}
.text-black-fade {
  color: var(--grey);
}
.text-primary {
  color: var(--primary);
}
.text-primary {
  color: var(--primary);
}
.bg-primary {
  background: var(--primary);
}
.bg-primary {
  background: var(--primary);
}
.btn-blue-hover:hover {
  background: transparent;
  border-color: var(--secondary);
  background: var(--primary);
}
.not-found-text {
  @media (min-width: 768px) {
    font-size: 12rem;
  }
}
