@media (prefers-color-scheme: light) {
  .idea-image {
    .st0 {
      fill: #e8e8e8;
    }
    .st1 {
      fill: var(--black);
    }
    .st2 {
      fill: var(--white);
      stroke: var(--black);
      stroke-width: 3;
      stroke-miterlimit: 10;
    }
    .st3 {
      opacity: 0.4;
      fill: #666666;
    }
    .st4 {
      opacity: 0.5;
      fill: #666666;
    }
    .st5 {
      fill: var(--black);
      stroke: var(--white);
      stroke-width: 2;
      stroke-miterlimit: 10;
    }
    .st6 {
      opacity: 0.38;
      fill: #666666;
    }
    .st7 {
      fill: #666666;
    }
    .st8 {
      opacity: 0.48;
      fill: #666666;
    }
    .st9 {
      opacity: 0.47;
      fill: #666666;
    }
    .st10 {
      opacity: 0.46;
      fill: #666666;
    }
    .st11 {
      fill: var(--white);
    }
    .st12 {
      opacity: 0.41;
      fill: #666666;
    }
    .st13 {
      fill: var(--white);
      stroke: var(--black);
      stroke-width: 2;
      stroke-miterlimit: 10;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .st1,
  .st9 {
    fill: var(--black);
  }
  .st2,
  .st4 {
    fill: none;
    stroke: #e9e9e9;
  }
  .st17,
  .st2,
  .st4,
  .st5,
  .st9 {
    stroke-miterlimit: 10;
  }
  .st2,
  .st5,
  .st9 {
    stroke-width: 2px;
  }
  .st3 {
    fill: #e9e9e9;
  }
  .st4 {
    stroke-width: 6px;
  }
  .st15,
  .st17,
  .st5 {
    fill: #161616;
  }
  .st17,
  .st5,
  .st9 {
    stroke: #161616;
  }
  .st6 {
    fill: #4c4c4c;
  }
  .st20,
  .st21,
  .st7 {
    fill: white;
  }
  .st10,
  .st11,
  .st12,
  .st13,
  .st14,
  .st16,
  .st19,
  .st20,
  .st21,
  .st7,
  .st8 {
    isolation: isolate;
  }
  .st7 {
    opacity: 0.29;
  }
  .st8 {
    fill: #111;
    opacity: 0.24;
  }
  .st10,
  .st11,
  .st12,
  .st13,
  .st14,
  .st16,
  .st19 {
    fill: #6d6c6c;
  }
  .st10 {
    opacity: 0.14;
  }
  .st11 {
    opacity: 0.17;
  }
  .st12 {
    opacity: 0.13;
  }
  .st13 {
    opacity: 0.16;
  }
  .st14 {
    opacity: 0.12;
  }
  .st16 {
    opacity: 0.26;
  }
  .st18 {
    fill: #abaaaa;
  }
  .st19 {
    opacity: 0.19;
  }
  .st20 {
    opacity: 0.54;
  }
  .st21 {
    opacity: 0.35;
  }
}

.scroll-down,
.scroll-down:before {
  left: 50%;
}

.scroll-down {
  width: 30px;
  height: 30px;
  bottom: 6rem;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 3px var(--black) solid;
  border-bottom: 3px var(--black) solid;
  position: absolute;
}

// .scroll-down:before {
//   content: "";
//   width: 20px;
//   height: 20px;
//   top: 50%;
//   margin: -10px 0 0 -10px;
//   border-left: none;
//   border-top: none;
//   border-right: 1px var(--black) solid;
//   border-bottom: 1px var(--black) solid;
//   animation-duration: 2s;
//   animation-iteration-count: infinite;
//   animation-name: scroll-down;
// }

// @keyframes scroll-down {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//     transform: translate(-10px, -10px);
//   }
// }

.loading {
  position: relative;
  width: 100%;
  margin: 1rem auto;
  height: 0.5rem;
  overflow: hidden;
  border-radius: 25px;
  background: #ededf2;
}

.loading-bar {
  --w: 80px; /* the width of coloration */

  position: absolute;
  left: calc(-1 * var(--w));
  right: 0;
  height: 0.5rem;
  background: linear-gradient(rgb(0, 0, 0) 0 0) 0 / var(--w) 100% no-repeat;
  animation: loading-bar 2s linear infinite;
}

@keyframes loading-bar {
  to {
    transform: translateX(100%);
  }
}
